@using static CloudStreamForms.Core.CloudStreamCore;
@using CloudStreamElectron.Controllers;
@using ElectronNET.API;
@using Newtonsoft.Json;

@{
	ViewData["Title"] = "CloudStream 2";
}
<script suppress-error="BL9992">
	var guid;

	function topFunction() {
		document.body.scrollTop = 0; // For Safari
		document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	}
	/*
	function download(data, filename, type) {
		var file = new Blob([data], { type: type });
		if (window.navigator.msSaveOrOpenBlob) // IE10+
			window.navigator.msSaveOrOpenBlob(file, filename);
		else { // Others
			var a = document.createElement("a"),
				url = URL.createObjectURL(file);
			a.href = url;
			a.download = filename;
			document.body.appendChild(a);
			a.click();
			setTimeout(function () {
				document.body.removeChild(a);
				window.URL.revokeObjectURL(url);
			}, 0);
		}
	}
	*/
	function load() {
		document.title = 'CloudStream 2';
		var search = document.getElementById("SearchBar");

		search.focus();
		LoadGuid();
		//	LoadTop100(1, false, false);
	}

	function LoadTop100(start, isTop100, isAnime) {

		$.ajax({
			url: '/FetchTop100/',
			dataType: "json",
			type: "GET",
			contentType: 'application/x-www-form-urlencoded; charset=utf-8',   //replace /json to the urlenoded
			data: { start: start, isTop100: isTop100, isAnime: isAnime, guid: currentGuid },          // data is not json
			async: true,
			processData: true,  //important to use it as true
			cache: true,

			success: function (data) {
				var addGrid = document.getElementById("Top100Grid");

				var inner = "";
				for (var i = 0; i < data.length; i++) {
					var d = data[i];
					//transform: translateX(155px);
					/*
	<div class="grid-element showme" style=" position: absolute; overflow: hidden; scale: 0.99; z-index: 10; border-radius: 3px; transition: all 0.1s; ">
		<div style="position: absolute; z-index: 11;">
			<h4 style="margin: 8px;">${d.name} ${d.rating}</h4>

			<p style="margin: 0px; margin-right:8px;margin-left:8px">${d.descript}</p>
		</div>

		<img style="height: 213px; width: 200px; -webkit-filter: blur(10px) brightness(50%); scale: 1.7;" src="${d.img}">
	</div>*/
					inner += `
<div class= "showhim">
	<button class="grid-element hold-poster" onmouseup=\"{loadPage('?url=${d.id}&name=${d.name}')\}">
		<img style="height:213px; width:144px; border-radius: 3px; " src="${d.img}">
	</button>
</div>
					`;
				}
				addGrid.innerHTML = inner;
			},
			error: function (xhr) {
			}
		});
	}


	function copyText(text) {
		function selectElementText(element) {
			if (document.selection) {
				var range = document.body.createTextRange();
				range.moveToElementText(element);
				range.select();
			} else if (window.getSelection) {
				var range = document.createRange();
				range.selectNode(element);
				window.getSelection().removeAllRanges();
				window.getSelection().addRange(range);
			}
		}
		var element = document.createElement('DIV');
		element.textContent = text;
		document.body.appendChild(element);
		selectElementText(element);
		document.execCommand('copy');
		element.remove();
	}
	/*
	var txt = document.getElementById('txt');
	var btn = document.getElementById('btn');
	btn.addEventListener('click', function () {
		copyText(txt.value);
	})*/
</script>

<body onload="load()">
</body>
<div style="margin-left: 30px;">
	<div class="Row">

		<div style="height:50px; margin-top:20px;" class="Column">
			<img src="~/img/csLogoOnly.png" style="width:190px; margin-top:auto; margin-bottom:auto; margin-right:10px;" />
			<a class="headerBtt">Movies</a>
			<a class="headerBtt">Tv-Shows</a>
			<a class="headerBtt">Anime</a>
		</div>
		<div style="width:50%; height:100px;" class="Column">

			<input value="" placeholder="Search..." spellcheck="false" autocomplete="off" maxlength="80" id="SearchBar" onfocus="searchFocus(true)" onblur="onBlurSearch()" onchange="searchFunc()" input[type="search" ] onkeyup="searchFunc()" style="margin-left:0%;margin-right:0%;width:100%" />
			<div id="SearchResultsDIV" style=" width: 100%; background-color:#303030">
			</div>
		</div>

	</div>

	<div id="main" style="margin-top:10px;">
		<div class="text-center" id="MainDiv" style="padding-bottom: 40px;">


			<!--<div style=" width: 50%; margin-left: 25%; margin-right: 25%; position: absolute; transform: translateX(-3px); z-index: 10;">
				<div style="margin-right: 10px;">
					<div id="SearchResultsDIV" style="background-color: #303030; border-radius:5px;">
					</div>
				</div>
			</div>-->


			<div id="Top100Grid" style="margin-top:10px;" class="grid-container grid-container--fill">

			</div>
		</div>
	</div>
</div>

<script>

    function myFunction() {
        div = document.getElementById("OverlayPage");
    }
    (function () {
        /*
        //   const { ipcRenderer } = require("electron");
        alert("da");
        var search = document.getElementById("SearchBar");
        search.addEventListener("change", () => {
            alert("heelo2");

            // ipcRenderer.send("search", search.value);
        });
        search.addEventListener("keyup", (ui) => {
            alert("heelo");
            @{
                //isLoaded = true;
              //  core.QuickSearch("hello world");
            }

            /*
            $.ajax({
                url: '/Search/',
                dataType: "json",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',    //replace /json to the urlenoded
                data: { search: search.value },          // data is not json
                async: true,
                processData: true,                                                  //important to use it as true
                cache: false,

                success: function (data) {
                    alert(data);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
            //  Electron.Dialog.ShowErrorBox("dada", ui);
            //  ipcRenderer.send("search", search.value);
        });*/

        //});*/
    });
</script>
